/* Section Interatable map */

/* CSS Document */
*, *::after, *::before {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    color: #fff;
    background-color: #c1ade0;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-out;
}
ul, ol {
	list-style: none;
	margin: 0;
} 
.clear {
	clear: both;
}
.bg {
    display: flex;
	width: 100%;
	height: 100%;	
	margin: 0rem;
	position: relative;
	/* box-shadow: 0 1rem 3rem -.4rem rgba(88,67,128,0.6); 
	border-radius: 1rem;s
	margin-bottom: 5rem; */
}

.bg > * {
    margin: auto;
}

#Contenedor{
    width: 816.2811;
    height: 791.991;
    position: relative;
}

#Contenedor > svg{
    position: absolute;
    top: 0;
    left: 0;
}

.point {
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	background-color: #9976dd;
	border-radius: 50%;
	cursor: pointer;
	transition: .5s ease-in-out;
    z-index: 1;
}
.point:hover {
	transform: rotate(90deg);
    z-index: 2;
}
.point::after {
    width: 3.9rem;
    height: 3.9rem;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #6b2fdd;
	border-radius: 50%;
	opacity: 0;
	margin: -1.3rem 0 0 -1.3rem;
	animation: waves 20s infinite;    
}
div .text{
    color: black;
    font-weight: 700;
}
@keyframes waves {
  0% {
    transform: scale(0);
  }
  1% {
    opacity: .7;
  }
  5% {
    opacity: 0;
    transform: scale(1);
  }
}
.info {
	width: 25rem;
	height: 20rem;	
	position: absolute;
	top: 5rem;
    left: -8rem;
	transform: rotate(-90deg);
	display: none;
    z-index: 10;
}
.point:hover .info {
	display: block;
}
.content_container {
	background-color: #dfdce3;
	box-shadow: 0 1rem 3.1rem -.4rem rgba(88,67,128,0.6);
	border-radius: .7rem;
	position: absolute;
	animation: appear 1s;
	transition: 1s;
    z-index: 3;
}
.content_container:before {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 5.5rem;
    left: 99%;
	border-style: solid;
	border-width: .75rem 0 .75rem .8rem;
	border-color: transparent transparent transparent #dfdce3;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
	opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.title {
	width: 25rem;
	height: 4rem;
	background-color: #a58fdb;
	border-radius: .7rem .7rem 0 0;
	font-weight: 700;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
}
.text {
	padding: 2rem;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #777;
}

#Cartagena {
    top: 24.5rem;
    left: 23.5rem;
}
#Cartagena::after {
	animation-delay: 1s;
}

#SantaCatalina {
    top: 11.9rem;
    left: 37.6rem;
}
#SantaCatalina::after {
	animation-delay: 2s;	
}

#Clemencia {
    top: 14.3rem;
    left: 35.1rem;
}
#Clemencia::after {
	animation-delay: 3s;	
}

#SantaRosa {
    top: 21.6rem;
    left: 32.5rem;
}
#SantaRosa::after {
	animation-delay: 4s;
}

#Villanueva {
    top: 21.4rem;
    left: 38.5rem;
}
#Villanueva::after {
	animation-delay: 5s;
}

#Turbaco {
    top: 29.2rem;
    left: 29.7rem;
}
#Turbaco::after {
	animation-delay: 6s;
}

#Arjona {
    top: 33.5rem;
    left: 34rem;
}
#Arjona::after {
	animation-delay: 7s;
}

#Mahates {
    top: 34.5rem;
    left: 43.6rem;
}
#Mahates::after {
	animation-delay: 8s;
}

#Arroyohondo  {
    top: 33.8rem;
    left: 54rem;
}
#Arroyohondo::after {
	animation-delay: 9s;
}

#ElGuamo {
    top: 47.6rem;
    left: 56.7rem;
}
#ElGuamo::after {
	animation-delay: 10s;
}

#MarialaBaja {
    top: 50.8rem;
    left: 36.5rem;
}
#MarialaBaja::after {
	animation-delay: 11s;
}

#Nepomuceno {
    top: 53.1rem;
    left: 50rem;
}
#Nepomuceno::after {
	animation-delay: 12s;
}

#SanJacinto  {
    top: 60.3rem;
    left: 47.5rem;
}
#SanJacinto ::after {
	animation-delay: 13s;
}

#Carmen {
    top: 67.6rem;
    left: 47.6rem;
}
#Carmen::after {
	animation-delay: 14s;
}

#Zambrano {
    top: 65.5rem;
    left: 66.2rem;
}
#Zambrano::after {
	animation-delay: 15s;
}

#SanCristobal{
    top: 25.3rem;
    left: 51rem;
}
#SanCristobal::after {
	animation-delay: 16s;
}

#Soplaviento {
    top: 25.5rem;
    left: 47.2rem;
}
#Soplaviento::after {
	animation-delay: 17s;
}

#Turbana {
	top: 32.5rem;
    left: 27.5rem;
}
#Turbana::after {
	animation-delay: 18s;
}




